<html>
    <head>
        <title>HTML in 10 Simple Steps or Less</title>
        <meta http-equiv="refresh" content="2" >
            </head>
    <body>

    </body>
</html>




<h1>Alumnos</h1>

<ul>
  <% @lists.each do |list| %>
    <li>
      <%= list.nombre %>
    </li>
  <% end %>
</ul>